<div class="row">

    <div class="col-4">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title text-center"> Usuarios </h4>

                <table class=" table table-hover">
                    <tbody>
                        <tr>
                            <td>Imagen</td>
                            <td>Nombre</td>
                            <td> </td>
                        </tr>
                        <tr *ngFor="let usuario of usuarios">
                            <td class="w50">
                                <img [src]=" usuario.img | imagen " class="img-40 img-circle">
                            </td>
                            <td>{{ usuario.nombre }}</td>
                            <td>
                                <button (click)="clickUsuario()" type="button" class="btn btn-success">
                                    <i class="fa fa-edit"></i>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>

                <div *ngIf="usuarios.length === 0" class="alert alert-info">
                    No hay registros
                </div>

            </div>
        </div>
    </div>

    <div class="col-4">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title text-center"> Médicos </h4>

                <table class=" table table-hover">
                    <tbody>
                        <tr>
                            <td>Imagen</td>
                            <td>Nombre</td>
                            <td> </td>
                        </tr>
                        <tr *ngFor="let medico of medicos">
                            <td class="w50">
                                <img [src]=" medico.img | imagen:'medico' " class="img-40 img-circle">
                            </td>
                            <td>{{ medico.nombre }}</td>
                            <td>
                                <button (click)="clickMedico( medico._id )" type="button" class="btn btn-success">
                                    <i class="fa fa-edit"></i>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>

                <div *ngIf="medicos.length === 0" class="alert alert-info">
                    No hay registros
                </div>

            </div>
        </div>
    </div>

    <div class="col-4">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title text-center"> Hospitales </h4>

                <table class=" table table-hover">
                    <tbody>
                        <tr>
                            <td>Imagen</td>
                            <td>Nombre</td>
                            <td> </td>
                        </tr>
                        <tr *ngFor="let hospital of hospitales">
                            <td class="w50">
                                <img [src]=" hospital.img | imagen:'hospital' " class="img-40 img-circle">
                            </td>
                            <td>{{ hospital.nombre }}</td>
                            <td>
                                <button (click)="clickHospital()" type="button" class="btn btn-success">
                                    <i class="fa fa-edit"></i>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>

                <div *ngIf="hospitales.length === 0" class="alert alert-info">
                    No hay registros
                </div>

            </div>
        </div>
    </div>




</div>