<div class="row animated fadeIn">
    <div class="col-12">
        <div class="card">
            <div class="card-body">

                <input #input (keyup.enter)="buscarUsuario( input.value )" type="text" class="form-control" placeholder="Buscar usuario">

            </div>
        </div>
    </div>
</div>

<div *ngIf="cargando" class="row animated fadeIn">
    <div class="col-12">
        <div class="card">
            <div class="card-body">

                <div class="alert alert-warning text-center">
                    <i class="fa fa-refresh fa-spin fa-2x"></i>
                    <strong>Cargando</strong>
                    <br>
                    <span>Espere, por favor</span>
                </div>

            </div>
        </div>
    </div>
</div>

<div *ngIf="!cargando" class="row animated fadeIn">
    <div class="col-12">
        <div class="card">
            <div class="card-body">

                <h3 class="card-title">Usuarios registrados(<small>{{totalRegistros}}</small>) </h3>

                <table class="table">
                    <thead class="text-center">
                        <tr class="table-primary">
                            <th scope="col">Imagen</th>
                            <th scope="col">Nombre</th>
                            <th scope="col">Correo</th>
                            <th scope="col">Role</th>
                            <th scope="col">Auth</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let usuario of usuarios">
                            <td class="w70">
                                <img [src]=" usuario.img | imagen " (click)="mostrarModal( usuario._id )" class="img-40 img-circle pointer">
                            </td>
                            <td>{{ usuario.nombre }}</td>
                            <td>{{ usuario.email }}</td>
                            <td>
                                <select [(ngModel)]="usuario.role" name="role" class="form-control">
                                    <option value="ADMIN_ROLE">Admin</option>
                                    <option value="USER_ROLE">Usuario</option>
                                </select>
                            </td>
                            <td>
                                <label *ngIf="usuario.google" class="label label-danger">Google</label>
                                <label *ngIf="!usuario.google" class="label label-info">Normal</label>
                            </td>
                            <td>
                                <button (click)="guardar( usuario )" class="btn btn-success">
                                    <i class="fa fa-save"></i>
                                </button>
                                <button (click)="borrarUsuario( usuario )" class="btn btn-danger">
                                    <i class="fa fa-trash-o"></i>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <br>

                <div class="text-center">
                    <button (click)="cambiarDesde(-5)" class="btn btn-light">
                                <i class="fa fa-backward"></i> Anterior
                        </button>
                    <button (click)="cambiarDesde(5)" class="btn btn-light">
                                Siguiente <i class="fa fa-forward"></i>
                        </button>
                </div>

            </div>
        </div>
    </div>
</div>