<div class="row animated fadeIn">
    <div class="col-12">
        <div class="card">
            <div class="card-body">

                <input #input (keyup.enter)="buscarMedico( input.value )" type="text" class="form-control" placeholder="Buscar médico">

            </div>
        </div>
    </div>
</div>

<div *ngIf="cargando" class="row animated fadeIn">
    <div class="col-12">
        <div class="card">
            <div class="card-body">

                <div class="alert alert-warning text-center">
                    <i class="fa fa-refresh fa-spin fa-2x"></i>
                    <strong>Cargando</strong>
                    <br>
                    <span>Espere, por favor</span>
                </div>

            </div>
        </div>
    </div>
</div>

<div *ngIf="!cargando" class="row animated fadeIn">
    <div class="col-12">
        <div class="card">
            <div class="card-body">

                <div class="text-right">
                    <button type="button" routerLink="/medico/nuevo" class="btn btn-success btn-rounded">
                    <i class="fa fa-plus"></i> Crear médico
                </button>
                </div>
                <h3 class="card-title">Médicos registrados(<small>{{totalRegistros}}</small>) </h3>

                <table class="table table-hover">
                    <thead>
                        <tr class="table-primary">
                            <th class="text-center" scope="col">Imagen</th>
                            <th class="text-center" scope="col">Nombre médico</th>
                            <th class="text-center" scope="col">Hospital</th>
                            <th class="text-center" scope="col">Acciones</th>
                        </tr>
                    </thead>
                    <tbody class="text-center">
                        <tr *ngFor="let medico of medicos">
                            <td class="w50">
                                <img [src]=" medico.img | imagen:'medico' " class="img-40 img-circle">
                            </td>
                            <td> {{ medico.nombre }} </td>
                            <td> {{ medico.hospital.nombre }} </td>
                            <td>
                                <button (click)="editarMedico( medico )" class="btn btn-success mr-2">
                                    <i class="fa fa-pencil"></i>
                                </button>
                                <button (click)="borrarMedico( medico )" class="btn btn-danger">
                                    <i class="fa fa-trash-o"></i>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <br>

                <div class="text-center">
                    <button (click)="cambiarDesde(-5)" class="btn btn-light">
                                <i class="fa fa-backward"></i> Anterior
                        </button>
                    <button (click)="cambiarDesde(5)" class="btn btn-light">
                                Siguiente <i class="fa fa-forward"></i>
                        </button>
                </div>

            </div>
        </div>
    </div>
</div>